<div class="container-fluid">
  <div class="row align-items-center justify-content-between">
    <div class="col-6 col-sm-8">{{'header.name' | translate}}</div>
    <div class="col-3 col-sm-2">
      <app-language-panel></app-language-panel>
    </div>
    <div class="col-3 col-sm-2">
      <app-logo-info-panel></app-logo-info-panel>
    </div>
    <div class="row navigation">
      <ul>
        <li><a routerLink="login">login</a></li>
        <li><a routerLink="clientEdit">clientEditor</a></li>
        <li><a routerLink="clientReg">clientReg</a></li>
        <li><a routerLink="companies">companies</a></li>
        <li><a routerLink="companyEdit">companyEditor</a></li>
        <li><a routerLink="companyInfo">companyInfo</a></li>
        <li><a routerLink="companyReg">companyReg</a></li>
        <li><a routerLink="ordersDetail">ordersDetail</a></li>
        <li><a routerLink="activeOrders">activeOrders</a></li>
        <li><a routerLink="booking">booking</a></li>
        <li><a routerLink="bookingConfirm">bookingConfirm</a></li>
      </ul>
    </div>
  </div>
</div>
