<div class="container-fluid">
  <div class="row justify-content-around align-items-center">
      <div class="col-6 col-sm-8">{{'header.title' | translate}}</div>
      <div class="col-3 col-sm-2">
        <app-language-panel></app-language-panel>
      </div>
      <div class="col-3 col-sm-2">
        <app-login-panel *ngIf="!id"></app-login-panel>
        <app-logout-panel *ngIf="id"></app-logout-panel>
      </div>
    </div>
  <div class="row navigation">
    <ul class="d-none d-sm-block d-md-none">
      <li><a routerLink="login">login</a></li>
      <li><a routerLink="clientEdit">clientEditor</a></li>
      <li><a routerLink="clientReg">clientReg</a></li>
      <li><a routerLink="companies">companies</a></li>
      <li><a routerLink="companyEdit">companyEditor</a></li>
      <li><a routerLink="companyInfo">companyInfo</a></li>
      <li><a routerLink="companyReg">companyReg</a></li>
      <li><a routerLink="ordersDetail">ordersDetail</a></li>
      <li><a routerLink="activeOrders">activeOrders</a></li>
      <li><a routerLink="booking">booking</a></li>
      <li><a routerLink="bookingConfirm">bookingConfirm</a></li>
    </ul>
  </div>
</div>
