<div class="title">Registration</div>
<form [formGroup]="clientRegisterForm">
  <mat-form-field>
    <input matInput placeholder="{{ 'forms.name' | translate }}" formControlName="name">
    <mat-hint>{{ 'forms.name' | translate }}</mat-hint>
    <mat-error *ngIf="isValid('name')">{{ catchError('name') | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{ 'forms.email' | translate }}" formControlName="email">
    <mat-hint>{{ 'forms.email' | translate }}</mat-hint>
    <mat-error *ngIf="isValid('email')">{{ catchError('email') | translate }}</mat-error>
  </mat-form-field>
<mat-form-field>
  <input matInput placeholder="{{ 'forms.phone' | translate }}" formControlName="phone">
  <mat-hint>{{ 'forms.phone' | translate }}</mat-hint>
  <mat-error *ngIf="isValid('phone')">{{ catchError('phone') | translate }}</mat-error>
</mat-form-field>
<mat-form-field>
  <input type="password" matInput placeholder="{{ 'forms.password' | translate }}" formControlName="password">
  <mat-hint>{{ 'forms.password' | translate }}</mat-hint>
  <mat-error *ngIf="isValid('password')">{{ catchError('password') | translate }}</mat-error>
</mat-form-field>
<mat-form-field>
  <input type="password" matInput placeholder="{{ 'forms.passwordConfirmation' | translate }}"
         formControlName="passwordConfirmation">
  <mat-hint>{{ 'forms.passwordConfirmation' | translate }}</mat-hint>
  <mat-error *ngIf="isValid('passwordConfirmation')">{{ catchError('passwordConfirmation') | translate }}</mat-error>
</mat-form-field>
<button [disabled]="clientRegisterForm.invalid" mat-raised-button (click)="registerClient()">{{'forms.register' |
  translate}}
</button>
<app-spinner *ngIf="isLoading"></app-spinner>
</form>
