@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /*background-image: url("../src/assets/img/bckgr/okna.jpg");*/
  background-color: #55C8FF;
  background-size: cover;
}

mat-form-field, button {
  width: 90%;
  margin-bottom: 10px;
  outline: 0 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
}

app-password-toggle {
  position: absolute;
  right: 2px;
  cursor: pointer;
}
